/* ToDo: use tailwind */
.page {
  will-change: transform, opacity;
  position: absolute;
  -webkit-user-select: none;
  user-select: none;
  padding: 2rem;
  top: 0;
  bottom: 0;
}

.root {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.wrapper {
  visibility: hidden;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .wrapper {
    visibility: visible;
  }
}