/* ToDo: use tailwind */
.page {
  will-change: transform, opacity;
  position: absolute;
  -webkit-user-select: none;
  user-select: none;
  padding: 2rem;
}

.wrapper {
  visibility: hidden;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .wrapper {
    visibility: visible;
  }
}