/* ToDo: use tailwind */
.page {
  will-change: transform, opacity;
  position: absolute;
  -webkit-user-select: none;
  user-select: none;
  padding: 2rem;
  padding-top: calc(2rem + 4rem); /* 2rem base padding + 4rem for timeline (mt-4 + p-4) */
  top: 0;
  bottom: 0;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .root {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: hidden;
  }
}

.wrapper {
  visibility: hidden;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .wrapper {
    visibility: visible;
  }
}