version: "3.9"
services:
  roger:
    image: "ikukarkin/roger:roger"
    environment:
      - DOPPLER_TOKEN=${DOPPLER_TOKEN}
    restart: on-failure
  jimmy:
    image: "ikukarkin/roger:jimmy"
    environment:
      - DOPPLER_TOKEN=${DOPPLER_TOKEN}
    restart: on-failure
  nextjs:
    image: "ikukarkin/roger:nextjs"
    ports:
      - "3000:3000"
    environment:
      - DOPPLER_TOKEN=${DOPPLER_TOKEN}
    restart: on-failure
